To do stuff:
    - For prototype:
        - Make noise when button is pressed
        - Get opencv movement detection working
        - Web notification

    - Stuff we need to get:
        - Speaker (will come shortly)


    - Stretch goals:
        -