.micnone {
    height: 0;
    width: 0;
}

.cardContainer {
    display: inline-block; 
    color: lightgray; 
    border-radius: 3px; 
    background: radial-gradient(939px at 94.7% 50%, rgb(0, 178, 169) 0%, rgb(0, 106, 101) 76.9%);
    justify-items: center; align-items: center; 
    width: 10rem; height: 10rem; 
}

.cardContainer:hover {
    box-shadow: 0 0 0 2px white; 
    border-width: medium; 
    color: white; 
    transition: 0.1s; 
}

.popup {
    z-index:2000; 
    top:0; left: 0; position:absolute; 
    width:100vw; height:100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display:flex; justify-content: center; align-items: center; 
}  

.popup-inner { 
    display: flex; 
    position:relative; 
    padding:32px; width:75%; height:92%; 
    background-color:black; 
    border-radius:1.5vmin; border:0.15vw solid black; 
    object-fit: cover; 
    justify-content: center; align-items: center; 
    background:black;  
    z-index: 1; 
}
.popup-inner .close-btn { 
    position: absolute; right:16px; top: 16px; 
    z-index: 3;
}